*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    text-transform: capitalize;
}

body{
    background-image: url(./Img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
}
header{position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3e3319;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo {
    font-weight: bolder;
    text-transform:uppercase;
    font-size: 25px;
    text-decoration: none;
    color: beige;
}
header .navbar ul{
    list-style: none;

}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: beige;
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover{
    background: burlywood;
    color: #3e3319 rgb(0, 0, .2);
    font-weight: bolder;
    transition: 2s;
}

header .navbar ul li ul{
    text-align: center;
    padding: 0;
    position:absolute;
    left: 0;
    background:#3e3319 ;
    display: none;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

header .navbar ul li ul li a{

}

header .navbar ul li:hover > ul{
     display: initial;
}
.container{

}
.footer{
    margin-top: 80vh;
}
.footer p{
    color:beige;
    text-align: center;
}