*{
    margin: 0;
    padding: o;
}

body{
    background-image: url('./Img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;

}
.Nav{
    padding: 15px;
    margin-left: 120px;
    margin-top: 20px;
    background-color: #31A39F;
    width: 80%;
    height: 40px;
    align-items: center;
}
.Nav a{
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
    color: aliceblue;
    align-content: center;
}
.container{

}
.footer{
    margin-top: 80vh;
}
.footer p{
    text-align: center;
}