*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body{
    background-image: url('./Img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;

}
.head{
    margin-left: 40vw;
    padding-top: 10px;
    color: #3e3319;
}
.Nav{
    display: flex;
    margin: auto;
    background-color:rgb(62, 51, 25) ;
    width: 60vw;
    height: 80px;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    align-items: center;
}
.links a {
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
    color: beige;
    text-align: center;
    margin-left: 50px;
}
.sublinks{
    padding: 12px;
    margin: 0;

}
.container{

}
.footer{
    margin-top: 80vh;
}
.footer p{
    color:beige;
    text-align: center;
}